@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin verticalCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin horizontalCenter {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}