//COLOR
$color-grey: #777;
$color-white: #fff;
$color-black: #000;
$color-green: #42B983;
$color-green-light: #7ed56f;
$color-orangered: #ff4500;


//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-sm: 1rem;
